# The directory Mix will write compiled artifacts to.
/_build/
/apps/*/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/
/apps/*/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/
/apps/*/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Environment configurations
.env*

# Ignore dev config from repo. Use the example file to recreate a local config
config/dev.exs

# Ignore secrets
secrets/*

# Ignore elixir-ls
.elixir_ls/*

# logs
log/*
apps/*/log/*

# DB migrations
apps/tai/priv/order_repo/migrations

# SQLite DB's
apps/tai/priv/tai/*.db*
