use Mix.Config

config :echo_boy, port: 4200

config :ex_gdax,
  api_key: System.get_env("GDAX_API_KEY"),
  api_secret: System.get_env("GDAX_API_SECRET"),
  api_passphrase: System.get_env("GDAX_API_PASSPHRASE")

config :tai,
  order_book_feeds: %{
    gdax: [
      adapter: Tai.ExchangeAdapters.Gdax.OrderBookFeed,
      order_books: [:btcusd, :ltcusd, :ethusd]
    ],
    binance: [
      adapter: Tai.ExchangeAdapters.Binance.OrderBookFeed,
      order_books: [:btcusdt, :ltcusdt, :ethusdt]
    ],
    poloniex: [
      adapter: Tai.ExchangeAdapters.Poloniex.OrderBookFeed,
      order_books: [:btcusdt, :ltcusdt, :ethusdt]
    ]
  }

config :tai,
  exchanges: %{
    gdax: [
      supervisor: Tai.ExchangeAdapters.Gdax.Supervisor
    ]
  }

config :tai,
  advisors: [
    %{
      id: :create_and_cancel_pending_order,
      supervisor: Examples.Advisors.CreateAndCancelPendingOrder.Supervisor,
      order_books: "gdax.btcusd"
    },
    %{
      id: :log_spread_advisor,
      supervisor: Examples.Advisors.LogSpread.Supervisor,
      order_books: "*"
    }
  ]
