use Mix.Config

config :echo_boy, port: 4200

config :ex_poloniex,
  api_key: System.get_env("POLONIEX_API_KEY"),
  api_secret: System.get_env("POLONIEX_API_SECRET")

config :binance,
  api_key: System.get_env("BINANCE_API_KEY"),
  secret_key: System.get_env("BINANCE_API_SECRET")

config :tai, send_orders: false

config :tai,
  new_exchanges: %{
    binance: [
      adapter: Tai.ExchangeAdapters.New.Binance,
      accounts: %{main: %{}}
    ],
    poloniex: [
      adapter: Tai.ExchangeAdapters.New.Poloniex,
      accounts: %{main: %{}}
    ],
    gdax: [
      adapter: Tai.ExchangeAdapters.New.Gdax,
      accounts: %{
        main: %{
          # https://docs.pro.coinbase.com/#api
          # api_url: "https://api-public.sandbox.pro.coinbase.com",
          api_url: "https://api.pro.coinbase.com",
          api_key: System.get_env("GDAX_API_KEY"),
          api_secret: System.get_env("GDAX_API_SECRET"),
          api_passphrase: System.get_env("GDAX_API_PASSPHRASE")
        }
      }
    ]
  }

config :tai,
  exchanges: %{
    binance: [
      supervisor: Tai.ExchangeAdapters.Binance.Supervisor,
      accounts: %{main: %{}}
    ],
    poloniex: [
      supervisor: Tai.ExchangeAdapters.Poloniex.Supervisor,
      accounts: %{main: %{}}
    ],
    gdax: [
      supervisor: Tai.ExchangeAdapters.Gdax.Supervisor,
      accounts: %{
        main: %{
          # https://docs.pro.coinbase.com/#api
          # api_url: "https://api-public.sandbox.pro.coinbase.com",
          api_url: "https://api.pro.coinbase.com",
          api_key: System.get_env("GDAX_API_KEY"),
          api_secret: System.get_env("GDAX_API_SECRET"),
          api_passphrase: System.get_env("GDAX_API_PASSPHRASE")
        }
      }
    ]
  }

config :tai,
  order_book_feeds: %{
    gdax: [
      adapter: Tai.ExchangeAdapters.Gdax.OrderBookFeed,
      order_books: [:btc_usd, :ltc_usd, :eth_usd]
    ],
    binance: [
      adapter: Tai.ExchangeAdapters.Binance.OrderBookFeed,
      order_books: [:btc_usdt, :ltc_usdt, :eth_usdt]
    ],
    poloniex: [
      adapter: Tai.ExchangeAdapters.Poloniex.OrderBookFeed,
      order_books: [:btc_usdt, :ltc_usdt, :eth_usdt]
    ]
  }

config :tai,
  advisor_groups: %{
    create_and_cancel_pending_order: [
      factory: Examples.Advisors.CreateAndCancelPendingOrder.Factory,
      products: "gdax.btc_usd"
    ],
    log_spread: [
      factory: Examples.Advisors.LogSpread.Factory,
      products: "binance.btc_usdt gdax.btc_usd poloniex.btc_usdt"
    ],
    fill_or_kill_orders: [
      factory: Examples.Advisors.FillOrKillOrders.Factory,
      products: "binance.btc_usdt"
    ]
  }
