use Mix.Config

config :tai, send_orders: false

config :tai,
  advisor_groups: %{
    log_spread: [
      advisor: Examples.LogSpread.Advisor,
      factory: Tai.Advisors.Factories.OnePerProduct,
      products: "binance.btc_usdt gdax.btc_usd poloniex.btc_usdt"
    ],
    ping_pong: [
      advisor: Examples.PingPong.Advisor,
      factory: Tai.Advisors.Factories.OnePerProduct,
      products: "bitmex.xbtusd"
    ]
  }

config :tai,
  venues: %{
    bitmex: [
      enabled: true,
      adapter: Tai.VenueAdapters.Bitmex,
      products: "xbtusd",
      accounts: %{
        main: %{
          api_key: {:system_file, "BITMEX_API_KEY"},
          api_secret: {:system_file, "BITMEX_SECRET"}
        }
      },
      opts: %{
        autocancel: %{ping_interval_ms: 15_000, cancel_after_ms: 60_000}
      }
    ],
    okex: [
      enabled: true,
      adapter: Tai.VenueAdapters.OkEx,
      products: "eth_usd_190419 eth_usd_190426 eth_usd_190628",
      accounts: %{
        main: %{
          api_key: {:system_file, "OKEX_API_KEY"},
          api_secret: {:system_file, "OKEX_API_SECRET"},
          api_passphrase: {:system_file, "OKEX_API_PASSPHRASE"}
        }
      }
    ],
    binance: [
      enabled: true,
      adapter: Tai.VenueAdapters.Binance,
      products: "btc_usdt ltc_usdt eth_usdt",
      accounts: %{
        main: %{
          api_key: {:system_file, "BINANCE_API_KEY"},
          secret_key: {:system_file, "BINANCE_API_SECRET"}
        }
      }
    ],
    poloniex: [
      enabled: true,
      adapter: Tai.VenueAdapters.Poloniex,
      products: "btc_usdt ltc_usdt eth_usdt",
      accounts: %{main: %{}}
    ],
    gdax: [
      enabled: true,
      adapter: Tai.VenueAdapters.Gdax,
      products: "btc_usd ltc_usd eth_usd",
      accounts: %{
        main: %{
          api_url: "https://api.pro.coinbase.com",
          api_key: {:system_file, "GDAX_API_KEY"},
          api_secret: {:system_file, "GDAX_API_SECRET"},
          api_passphrase: {:system_file, "GDAX_API_PASSPHRASE"}
        }
      }
    ]
  }

config :echo_boy, port: 4200

config :ex_poloniex,
  api_key: {:system_file, "POLONIEX_API_KEY"},
  api_secret: {:system_file, "POLONIEX_API_SECRET"}
