use Mix.Config

config :logger, :file_log, formatter: LoggerFileBackendWithFormattersStackdriver
config :tai, send_orders: true

config :tai,
  advisor_groups: %{
    create_and_cancel_pending_order: [
      advisor: Examples.Advisors.CreateAndCancelPendingOrder.Advisor,
      factory: Tai.Advisors.Factories.OnePerProduct,
      products: "gdax.btc_usd"
    ],
    log_spread: [
      advisor: Examples.Advisors.LogSpread.Advisor,
      factory: Tai.Advisors.Factories.OnePerProduct,
      products: "binance.btc_usdt gdax.btc_usd poloniex.btc_usdt"
    ],
    fill_or_kill_orders: [
      advisor: Examples.Advisors.FillOrKillOrders.Advisor,
      factory: Tai.Advisors.Factories.OnePerProduct,
      products: "binance.btc_usdt"
    ]
  }

config :tai,
  venues: %{
    bitmex: [
      enabled: true,
      adapter: Tai.VenueAdapters.Bitmex,
      products: "xbth19 xbtm19",
      accounts: %{
        main: %{
          api_key: {:system_file, "BITMEX_API_KEY"},
          api_secret: {:system_file, "BITMEX_SECRET"}
        }
      },
      timeout: 60_000
    ],
    binance: [
      enabled: true,
      adapter: Tai.VenueAdapters.Binance,
      products: "btc_usdt ltc_usdt eth_usdt",
      accounts: %{
        main: %{
          api_key: {:system_file, "BINANCE_API_KEY"},
          secret_key: {:system_file, "BINANCE_API_SECRET"}
        }
      }
    ],
    poloniex: [
      enabled: true,
      adapter: Tai.VenueAdapters.Poloniex,
      products: "btc_usdt ltc_usdt eth_usdt",
      accounts: %{main: %{}}
    ],
    gdax: [
      enabled: true,
      adapter: Tai.VenueAdapters.Gdax,
      products: "btc_usd ltc_usd eth_usd",
      accounts: %{
        main: %{
          api_url: "https://api.pro.coinbase.com",
          api_key: {:system_file, "GDAX_API_KEY"},
          api_secret: {:system_file, "GDAX_API_SECRET"},
          api_passphrase: {:system_file, "GDAX_API_PASSPHRASE"}
        }
      }
    ]
  }

config :echo_boy, port: 4200

config :ex_poloniex,
  api_key: {:system_file, "POLONIEX_API_KEY"},
  api_secret: {:system_file, "POLONIEX_API_SECRET"}
