name: code-coverage

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}

    strategy:
      matrix:
        otp: [23.x]
        elixir: [1.11.x]

    steps:
      - uses: actions/checkout@v2.3.4

      - uses: erlef/setup-elixir@v1.7
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - name: Cache Dependencies
        uses: actions/cache@v2.1.5
        with:
          path: |
            deps
            _build/dev
            _build/test
          key: elixir-cache-${{secrets.CACHE_VERSION}}-${{matrix.elixir}}-otp-${{matrix.otp}}-${{runner.os}}-${{hashFiles('mix.lock')}}-${{github.ref}}
          restore-keys: |
            elixir-cache-${{secrets.CACHE_VERSION}}-${{matrix.elixir}}-otp-${{matrix.otp}}-${{runner.os}}-${{hashFiles('mix.lock')}}-
            elixir-cache-${{secrets.CACHE_VERSION}}-${{matrix.elixir}}-otp-${{matrix.otp}}-${{runner.os}}-

      - name: Install Dependencies
        run: mix deps.get

      - name: Coveralls
        env:
          MIX_ENV: test
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          BINANCE_API_KEY: ../../secrets/ci/binance_api_key
          BINANCE_API_SECRET: ../../secrets/ci/binance_api_secret
          BITMEX_API_KEY: ../../secrets/ci/bitmex_api_key
          BITMEX_API_SECRET: ../../secrets/ci/bitmex_api_secret
          GDAX_API_KEY: ../../secrets/ci/gdax_api_key
          GDAX_API_PASSPHRASE: ../../secrets/ci/gdax_api_passphrase
          GDAX_API_SECRET: ../../secrets/ci/gdax_api_secret
          OKEX_API_KEY: ../../secrets/ci/okex_api_key
          OKEX_API_PASSPHRASE: ../../secrets/ci/okex_api_passphrase
          OKEX_API_SECRET: ../../secrets/ci/okex_api_secret
          DERIBIT_CLIENT_ID: ../../secrets/ci/deribit_client_id
          DERIBIT_CLIENT_SECRET: ../../secrets/ci/deribit_client_secret
        run: mix coveralls.github --umbrella
